<div class="men_clothing_section">
    <div class="men_clothing_container">
        <div class="men_left">
            <div class="men_left_first">

                <div class="men_cloth_list">
                    <h3>Men Clothing</h3>
                    <a href="">Projector</a>
                    <a href="">Laptop</a>
                    <a href="">Headphone</a>
                    <a href="">Google Glass</a>
                    <a href="">Mobile</a>
                    <a href="">Camera</a>
                    <a href="">Light</a>
                    <a href="">Camera</a>
                    <a href="">Drone</a>
                    <a href="">3D Glass</a>
                </div>
            </div>
            <div class="men_left_second">
                <img src="../../assets/images/man_slider_1_406x628-1.png" alt="">
            </div>
        </div>
        <!-- ------------------------------------------------------ -->
        <div class="men_right">
            <div class="men_right_all">
                <div class="total_container">
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/26-1.png" alt="">
                            <p>Pointer Men <br>Casual Short</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/39-1-1.png" alt="">
                            <p>Pointer Men <br>Casual Short</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/38-1-1.png" alt="">
                            <p>Pointer Men <br>Casual Short</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/37-1-1.png" alt="">
                            <p>Pointer Men <br>Casual Full sleeve</p>
                            <small>$29.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/30-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/31-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/37-1-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/33-1.png" alt="">
                            <p>Men’s Solid Color<br>Short sleeve</p>
                            <small>$29.00</small>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>