.men_clothing_section {
  padding: 3rem 3rem;
}
.men_clothing_container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  border: 1px solid rgb(197, 192, 192);
}
.men_left {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  width: 100%;
  height: 100%;
}
.men_left_first {
  width: 100%;
  height: 100%;
  padding-bottom: 1.1rem;
}
.men_cloth_list {
  display: flex;
  flex-direction: column;
  position: relative;
}
.men_cloth_list::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/images/man_bg-1.jpeg);
  z-index: -10;
}
.men_cloth_list::before {
  opacity: 0.8;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #947970;
  z-index: -9;
}
.men_cloth_list a,
h3 {
  color: black;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}

.men_left_second {
  height: 90%;
  width: 100%;
}
.men_left_second img {
  height: 100%;
  width: 100%;
}

.men_right {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0rem;
}
.men_right_all {
  width: 100%;
  height: 100%;
}

.total_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.all_items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.all_items:hover {
  opacity: 0.8;
}
.all_items img {
  height: 170px;
  width: auto;
}
.men_right_down {
  background-color: goldenrod;
  width: 100%;
  height: 100%;
}
