<div class="gadget_section">
    <div class="gadget_container">
        <div class="gadget_cards">
            <div>
                <h2>Gadget Makes Your Life Easy</h2>
            </div>
            <div class="view_collection"><a href="">View Collections</a></div>
            <div class="single_card ">
                <div class="product_img"><img
                        src="../../assets/images/15-6-Core-i7-3517U-Netbook-with-bluetooth-wifi-HDMI-VGA-Laptop-Computer-4M-Cache-Intel-1.jpeg"
                        alt="ddd"></div>
                <div class="other_item">
                    <div class="rating">
                        <p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <p><i class="fa-regular fa-heart"></i></p>
                    </div>
                    <h4>Intel Laptop</h4>
                    <b><span>$640.00</span> $540.00</b>
                    <h5><a href="">Add to cart</a></h5>
                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img
                    src="../../assets/images/15-6-Core-i7-3517U-Netbook-with-bluetooth-wifi-HDMI-VGA-Laptop-Computer-4M-Cache-Intel-1.jpeg"
                    alt="ddd"></div>
            <div class="other_item">
                <div class="rating">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p><i class="fa-regular fa-heart"></i></p>
                </div>
                <h4>Intel Laptop</h4>
                <b><span>$640.00</span> $540.00</b>
                <h5><a href="">Add to cart</a></h5>
            </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img
                    src="../../assets/images/15-6-Core-i7-3517U-Netbook-with-bluetooth-wifi-HDMI-VGA-Laptop-Computer-4M-Cache-Intel-1.jpeg"
                    alt="ddd"></div>
            <div class="other_item">
                <div class="rating">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p><i class="fa-regular fa-heart"></i></p>
                </div>
                <h4>Intel Laptop</h4>
                <b><span>$640.00</span> $540.00</b>
                <h5><a href="">Add to cart</a></h5>
            </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img
                    src="../../assets/images/15-6-Core-i7-3517U-Netbook-with-bluetooth-wifi-HDMI-VGA-Laptop-Computer-4M-Cache-Intel-1.jpeg"
                    alt="ddd"></div>
            <div class="other_item">
                <div class="rating">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <p><i class="fa-regular fa-heart"></i></p>
                </div>
                <h4>Intel Laptop</h4>
                <b><span>$640.00</span> $540.00</b>
                <h5><a href="">Add to cart</a></h5>
            </div>
            </div>
        </div>
    </div>
</div>