.gadget_section {
  background-image: url(../../assets/images/gadget-feature-bg.jpeg);
  background-size: cover;
  background-position: -280px 0px;
  padding: 3rem 3rem;
}
.gadget_container {
  // background-color: green;
  width: 80%;
  height: 80%;
}
.view_collection {
  text-align: center;
  background-color: #fed700;
  padding: 1rem 2rem;
  margin-left: auto;
  color: white;
  width: 45%;
  border-radius: 40px;
}
.view_collection:hover {
  background-color: #83b735;
  transition: ease-in 0.5s;
}
.view_collection a {
  color: white;
}
.gadget_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.single_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  background-color: white;
  
}
.product_img img {
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}
.rating {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.other_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.other_item h5 {
  text-align: center;
  background-color: #0063d1;
  padding: 0.8rem 2rem;
  width: 90%;
  border-radius: 40px;
}
.other_item h5:hover {
  background-color: #83b735;
  transition: ease-in 0.5s;
}
.other_item a {
  color: white;
}
.rating p {
  color: yellow;
}
span {
  text-decoration: line-through;
  color: gray;
}
