<div class="recent_product_section">
    <div class="recent_product_container">
        <div class="recent_left">
            <mat-tab-group animationDuration="1000ms">
                <mat-tab label="Featured Products">
                    <app-featured></app-featured>
                </mat-tab>
                <mat-tab label="Trending Products">
                    <app-trend></app-trend>
                </mat-tab>
                <mat-tab label="Hot Sale">
                    <app-sale></app-sale>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="recent_right">
            <img src="../../assets/images/card-1.png" alt="">
        </div>
    </div>
</div>