<div class="badge_section">
    <div class="badge_container">
        <a href=""><img src="../../assets/images/sponsors_white_1-1.png" class="badge_img" alt=""></a>
        <a href=""><img src="../../assets/images/sponsors_white_2-1.png" class="badge_img" alt=""></a>
        <a href=""><img src="../../assets/images/sponsors_white_3-1.png" class="badge_img" alt=""></a>
        <a href=""><img src="../../assets/images/sponsors_white_1-1.png" class="badge_img" alt=""></a>
        <a href=""><img src="../../assets/images/sponsors_white_5-1.png" class="badge_img" alt=""></a>
    </div>
</div>