<div class="category_section">
    <div class="category_container">
     <h2 class="section_heading">Top Categories This Week
   </h2>
        <mat-tab-group mat-align-tabs="end">
            <mat-tab label="Projector">
                <app-projector></app-projector>
            </mat-tab>
            <mat-tab label="Google Glass">
                <app-google-glass></app-google-glass>
            </mat-tab>
            <mat-tab label="Headphone">
                <app-headphone></app-headphone>
            </mat-tab>
            <mat-tab label="Light">
                <app-light></app-light>
            </mat-tab>
            <mat-tab label="Laptop">
                <app-laptop></app-laptop>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>