<div class="hot_sell_section">
    <div class="hot_sell_container">
        <div class="left_hot_sell">
            <div class="left_first">
                <p>Basic Gift Idea</p>
                <h1>Mini Two Wheel</h1>
                <h1><b>Self Balancing <br> Scooter</b></h1>
                <small><a href="">Go shop</a></small>

            </div>
            <div class="left_second">
                <p>Get 50% Off</p>
                <h1>New Arrivals</h1>
                <h1><b>in Accessories at <br> Best Prices.</b></h1>
                <a href=""><small>Go shop</small></a>
            </div>
        </div>
        <!-- ------------------------------------------------ -->
        <div class="right_hot_sell">

            <div class="category_section">
                <div class="category_container">
                    <h2 class="section_heading">Hot Sell
                    </h2>
                    <mat-tab-group mat-align-tabs="end">
                        <mat-tab label="16% Off">
                            <app-sixteen></app-sixteen>
                        </mat-tab>
                        <mat-tab label="25% Off">
                            <app-twentyfive></app-twentyfive>
                        </mat-tab>
                        <mat-tab label="33% Off">
                            <app-thirtythree></app-thirtythree>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>