<div class="hot_sell_section">
    <div class="hot_sell_container">
        <div class="left_hot_sell">
            <div class="left_first">
                <p>Basic Gift Idea</p>
                <h1>Mini Two Wheel</h1>
                <h1><b>Self Balancing <br> Scooter</b></h1>
                <small><a href="">Go shop</a></small>

            </div>
            <div class="left_second">
                <p>Get 50% Off</p>
                <h1>New Arrivals</h1>
                <h1><b>in Accessories at <br> Best Prices.</b></h1>
                <a href=""><small>Go shop</small></a>
            </div>
        </div>
        <div class="right_hot_sell">second</div>
    </div>
</div>