<div class="gadget_section">
    <div class="gadget_container">
        <div class="gadget_cards">


            <div class="single_card " *ngFor="let sp of projectorProducts">
                <div class="product_img"><img
                        [src]="sp.imageUrl"
                        alt=""></div>
                <div class="other_item">
                    <div class="rating">
                        <p>
                            
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i> - 
                            {{sp.rating}}
                        </p>
                        <p><i class="fa-regular fa-heart"></i></p>
                    </div>
                    <h4>{{sp.name}}</h4>
                    <b><span>${{sp.regularPrice}}.00</span> ${{sp.salePrice}}.00</b>

                </div>
            </div>
        
        
        </div>
    </div>
</div>