.bottom_most_section {
  padding: 2rem 3rem;
  width: 100%;
  background-color: #fed700;
}
.bottom_most_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.bottom_most_left {
  color: rgb(73, 71, 71);
}
.copy_text {
  color: black;
  font-weight: bold;
}
.bottom_most_right {
  display: flex;
  gap: 1rem;
}
.bottom_most_right a {
  color: rgb(73, 71, 71);
}
