<div class="basic_section">
    <div class="basic_container">
        <div class="basic_left">
            <div class="basic_left_first">
                <img class="left_first_items" src="../../assets/images/logo_3-1.png" alt="">
                <h2 class="left_first_items">Got Question? Call us <br> 24/7</h2>
                <h3 class="left_first_items">[80] 1017 197</h3>
                <p class="left_first_items">17 Princess Road, London, Greater <br> London NW1 8JR, UK</p>
                <span class="location"><a href="#"> <i class="fa-solid fa-location-dot"></i> View On Map</a></span>

            </div>
            <div class="basic_left_second">
                <h2>We Using</h2>
                <h3>Safe Payments</h3>
                <div class="left_second_img_top">
                    <img src="../../assets/images/skril-1-1.png" alt="">
                    <img src="../../assets/images/palypal-1-1.png" alt="">
                    <img src="../../assets/images/american_express-1-1.png" alt="">
                </div>
                <h4>Secured by:</h4>
                <div class="left_second_img_bottom">
                    <img src="../../assets/images/norton_av_logo1-1.png" alt="">
                    <img src="../../assets/images/mcAfee_logo1-1.png" alt="">
                </div>
            </div>

        </div>
        <div class="basic_right">Right</div>
    </div>
</div>