<app-header-component></app-header-component>
<app-hero-section></app-hero-section>
<app-offer-banner></app-offer-banner>
<app-top-categories></app-top-categories>
<app-hot-sell></app-hot-sell>
<app-women-clothing></app-women-clothing>
<app-men-clothing></app-men-clothing>
<app-mobile-phone></app-mobile-phone>
<app-computer-laptop></app-computer-laptop>
<app-hand-watch></app-hand-watch>
<app-gadget-section></app-gadget-section>
<app-badge-section></app-badge-section>
<app-basic-footer></app-basic-footer>
<app-bottom-most-footer></app-bottom-most-footer>