<div class="gadget_section">
    <div class="gadget_container">
        <div class="gadget_cards">
            <div class="single_card ">
                <div class="product_img"><img src="../../../assets/images/36-2.png" alt=""></div>
                <div class="other_item">
                    <h4>Xpeed Projector</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/24-1.png" alt=""></div>
                <div class="other_item">

                    <h4>Apple iPhone 7s</h4>
                    <b>$540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/21-1.png" alt=""></div>
                <div class="other_item">

                    <h4>Apple iPhone 6s</h4>
                    <b> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/Cannon-2-Mini-Smart-Bluetooth-1.png" alt="">
                </div>
                <div class="other_item">
                    <h4>Wireless Microphone</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/08-2.png" alt="">
                </div>
                <div class="other_item">

                    <h4>CC Camera</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/07-300x300-1-1.jpeg" alt="">
                </div>
                <div class="other_item">

                    <h4>Moving Camera</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/01-1.png" alt="">
                </div>
                <div class="other_item">

                    <h4>Core i7 Laptop</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img src="../../../assets/images/iphone7-1.png" alt="">
                </div>
                <div class="other_item">

                    <h4>
                        Unlocked Mobile Phone</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
            <div class="single_card">
                <div class="product_img"><img
                        src="../../../assets/images/Bluetooth-Headphones-Wireless-Stereo-Headset-1.jpeg" alt="">
                </div>
                <div class="other_item">

                    <h4> Stereo Headset</h4>
                    <b><span>$640.00</span> $540.00</b>

                </div>
            </div>
        </div>
    </div>
</div>
