// All Section CSS
.middle_header_container{
  padding: 2rem 3rem;
}
.bottom_header_container {
  padding: 0rem 3rem;
}

.top_header_container {
  padding: 10px 3rem;
}

// Top Header start

.top_header_container {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  // padding:5px 5px ;
}
.element_widget_container_first {
  display: flex;
  justify-content: space-evenly;
}
.element-icon-list-item span {
  margin-left: 15px;
}
.bar {
  border: 0.05px solid rgb(212, 195, 195);
}
.element-icon-list-item {
  list-style: none;
}
.element-icon-list-items {
  display: flex;
}
.login-btn a {
  text-decoration: none;
  color: black;
}

// Top Header End
// -----------------------------
// Middle Header Start
.middle_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.middle-icon-list-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.middle-item {
  position: relative;
}
.middle-item-count {
  position: absolute;
  background-color: rgb(167, 167, 32);
  padding: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 25px;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.middle_center_select {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}
// Middle Header End
// --------------------------------
// Bottom Header start
.bottom_header_container {
  display: flex;
  div:nth-of-type(2) {
    flex-grow: 0.5;
  }
  justify-content: space-between;
  align-items: center;
  //   background-color: green;
  //   height: 200px;
}

.bottom_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #fed700;
  padding: 1.5rem 3rem;
  color: white;
}
.bottom_select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.bottom_right {
  // line-height: 0%;
  padding: 1rem 3rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  color: rgba(43, 43, 245, 0.692);
  font-family: "Rubik", sans-serif;
}
.bottom_right > h3 {
  margin: 0;
}

.bottom_right div {
  color: #b6aaaa;
}

.bottom_right:hover {
  background-color: black;
  color: white;
  transition: 1.5s;
}

.bottom_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(240, 228, 228);
  border-radius: 5px;
}
.bottom_middle_select {
  background: transparent;
  border: none;
  border-left: 2px solid rgb(204, 197, 197);
  outline: none;
  color: rgb(94, 86, 86);
}
.bottom_input {
  border: none;
  outline: none;
  padding-left: 1rem;
}
.bottom_search_icon {
  background-color: #fed700;
  padding: 1.5rem 2rem;
  color: white;
}
//
// Bottom Header End
//---------------------------------

