<div class="total_header">
    <div class="parent_header">
        <section class="header_top">
            <div class="top_header_container">
                <div class="element_widget_container_first">
                    <ul class="element-icon-list-items">
                        <li class="element-icon-list-item">
                            <span class="element-icon-list-icon"><i class="fa fa-truck fa-sm"></i></span>
                            <span class="element-icon-list-text">Free Delivery</span>
                            <span class="bar"></span>
                        </li>
                        <li class="element-icon-list-item">
                            <span class="element-icon-list-icon"><i class="fa fa-globe fa-sm"></i></span>
                            <span class="element-icon-list-text">Returns Policy</span>
                            <span class="bar"></span>
                        </li>
                        <li class="element-icon-list-item">

                            <span class="element-icon-list-text">Follow Us
                                <span class="element-icon-list-icon"><i class="fa fa-facebook fa-sm"></i></span>
                                <span class="element-icon-list-icon"><i class="fa fa-twitter fa-sm"></i></span>
                                <span class="element-icon-list-icon"><i class="fa fa-pinterest fa-sm"></i></span>
                                <span class="element-icon-list-icon"><i class="fa fa-instagram fa-sm"></i></span>
                            </span>
                        </li>
                    </ul>

                </div>
                <div>
                    <ul class="login-btn"><a href="">Login</a></ul>
                </div>

            </div>
        </section>
        <section class="header_middle">
            <div class="middle_header_container">
                <div class="middle_lift"><img src="../../assets/images/logo_home-1.png" alt=""></div>
                <div class="middle_center">
                    <select class="middle_center_select" value="">
                        <option value="">Home</option>
                    </select>
                    <select class="middle_center_select" value="">
                        <option value="">Pages</option>
                    </select>
                    <select class="middle_center_select" value="">
                        <option value="">Shop</option>
                    </select>
                    <select class="middle_center_select" value="">
                        <option value="">Blogs</option>
                    </select>
                    <select class="middle_center_select" value="">
                        <option value="">Gallery</option>
                    </select>
                    <p>Doakn</p>
                </div>
                <div class="middle_right">
                    <div class="middle-icon-list-icon">
                        <a class="middle-item" href=""><i class="fa fa-heart"
                                style="font-size:38px;color: black;"></i><span class="middle-item-count">0</span></a>

                        <a class="middle-item" href=""><i class="fa fa-shopping-bag"
                                style="font-size:38px; color: black;"></i><span class="middle-item-count">0</span></a>

                    </div>
                </div>
            </div>
        </section>
        <section class="header_bottom">
            <div class="bottom_header_container">
                <div class="bottom_left">
                    <Span> <i class="fa fa-bars" style="font-size:18px;"></i></Span>
                    <select class="bottom_select" name="" id="">
                        <option value="">All Categories</option>
                        <option value="">Electronics</option>
                        <option value="">Men's Fashion</option>
                        <option value="">Women's Fashion</option>
                        <option value="">Kids</option>
                    </select>
                </div>
                <div class="bottom_middle">

                    <input class="bottom_input" placeholder="Find your Product" type="text">
                    <select class="bottom_middle_select" name="" id="">
                        <option value="">All Categories</option>
                        <option value="">Electronics</option>
                        <option value="">Men's Fashion</option>
                        <option value="">Women's Fashion</option>
                        <option value="">Kids</option>
                    </select>

                    <span class="bottom_search_icon"> <i class="fa fa-search" style="font-size:18px;"></i></span>
                </div>
                <div class="bottom_right">
                    <h3>BLACK FRIDAY</h3>
                    <div>Get 45% Off!!</div>

                </div>
            </div>
        </section>
    </div>
</div>