<div class="computer_laptop_section">
    <div class="computer_laptop_container">
        <div class="computer_left">
            <div class="computer_left_first">

                <div class="computer_laptop_list">
                    <h3>mobile laptop</h3>
                    <a href="">Projector</a>
                    <a href="">Laptop</a>
                    <a href="">Headlaptop</a>
                    <a href="">Google Glass</a>
                    <a href="">Mobile</a>
                    <a href="">Camera</a>
                    <a href="">Light</a>
                    <a href="">Camera</a>
                    <a href="">Drone</a>
                    <a href="">3D Glass</a>
                </div>
            </div>
            <div class="computer_left_second">
                <img src="../../assets/images/laptop_slider_2_406x628-1.jpeg" alt="">
            </div>
        </div>
        <!-- ------------------------------------------------------ -->
        <div class="computer_right">
            <div class="computer_right_all">
                <div class="total_container">
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/15-6-Core-i7-3517U-Netbook-with-bluetooth-wifi-HDMI-VGA-Laptop-Computer-4M-Cache-Intel-1.jpeg"
                                alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small><span>$255 </span> $19.00 </small>

                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/Bluetooth-Headphones-Wireless-Stereo-Headset-1.jpeg" alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/49-300x300-1-1.jpeg" alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small> $19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/iphone7-1.png" alt="">
                            <p>Pointer mobile <br>Casual Full sleeve</p>
                            <small> $29.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/3D-VR-Glass-Virtual-Reality-1.jpeg" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small><span>$255 </span> $19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/24-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small> <span>$255 </span>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/01-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/iphone7-1.png" alt="">
                            <p>computer’s Solid Color<br>Short sleeve</p>
                            <small> <span>$255 </span>$29.00</small>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>