<div class="mobile_phone_section">
    <div class="mobile_phone_container">
        <div class="mobile_left">
            <div class="mobile_left_first">

                <div class="mobile_phone_list">
                    <h3>mobile phone</h3>
                    <a href="">Projector</a>
                    <a href="">Laptop</a>
                    <a href="">Headphone</a>
                    <a href="">Google Glass</a>
                    <a href="">Mobile</a>
                    <a href="">Camera</a>
                    <a href="">Light</a>
                    <a href="">Camera</a>
                    <a href="">Drone</a>
                    <a href="">3D Glass</a>
                </div>
            </div>
            <div class="mobile_left_second">
                <img src="../../assets/images/phone_slider_1_406x628-1-1.png" alt="">
            </div>
        </div>
        <!-- ------------------------------------------------------ -->
        <div class="mobile_right">
            <div class="mobile_right_all">
                <div class="total_container">
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/24-1.png" alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small><span>$255 </span> $19.00 </small>

                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/21-1.png" alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/22-1.png" alt="">
                            <p>Pointer mobile <br>Casual Short</p>
                            <small><span>$255 </span> $19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/iphone7-1.png" alt="">
                            <p>Pointer mobile <br>Casual Full sleeve</p>
                            <small><span>$255 </span> $29.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/3D-VR-Glass-Virtual-Reality-1.jpeg" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small><span>$255 </span> $19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/21-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small>$19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/iphone7-1.png" alt="">
                            <p>Summer Casual <br>Cotton</p>
                            <small><span>$255 </span> $19.00</small>
                        </div>
                    </a>
                    <a href="">
                        <div class="all_items">
                            <img src="../../assets/images/LED-32-LG-32LJ500U-1-1.jpeg" alt="">
                            <p>mobile’s Solid Color<br>Short sleeve</p>
                            <small>$29.00</small>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>