<div class="hot_sell_content_section">
    <div class="hot_sell_container">
        <div class="left_part">
            <a class="product_img_link" href=""><img width="200" height="170"
                    src="../../../assets/images/camera-drone-1.png"
                    alt=""></a>
            <div class="product_offer_label">
                <span>15% <br><small>Offer</small></span>

            </div>
            <p>Intel Laptop</p>
            <div class="product_price">
                <del>$640.00</del>
                <span>$540.00</span>
            </div>
            <div class="progress_section">
                <div class="progress_label">
                    <small>Already Sold:27%</small>
                    <small>Available:11</small>
                </div>
                <div class="progress_bar">
                    <div class="progress_content"></div>
                </div>
            </div>
            <div class="empty">
                
            </div>
            <div class="timer_part">
                <div class="timer_heading"><span>Hurry Up!</span> <small> Offers End in:</small></div>
                <div class="calender"> <span>204</span> <span>11</span><span>14</span><span>26</span></div>
                <div class="inword"> <small>DAYS</small> <small>HOURS</small><small>MINUTES</small><small>SECONDS</small></div>

            </div>

        </div>
        <div class="left_part">
            <a class="product_img_link" href=""><img width="200" height="170"
                    src="../../../assets/images/WIFI-FPV-With-720P-Camera-High-Hold-Foldable-Drones-1.jpeg"
                    alt=""></a>
            <div class="product_offer_label">
                <span>15% <br><small>Offer</small></span>

            </div>
            <p>Luxury Watch</p>
            <div class="product_price">
                <del>$640.00</del>
                <span>$540.00</span>
            </div>
            <div class="progress_section">
                <div class="progress_label">
                    <small>Already Sold:27%</small>
                    <small>Available:11</small>
                </div>
                <div class="progress_bar">
                    <div style="width:0% ; ;" class="progress_content"></div>
                </div>
            </div>
            <div class="empty">
                
            </div>
            <div class="timer_part">
                <div class="timer_heading"><span>Hurry Up!</span> <small> Offers End in:</small></div>
                <div class="calender"> <span>204</span> <span>11</span><span>14</span><span>26</span></div>
                <div class="inword"> <small>DAYS</small> <small>HOURS</small><small>MINUTES</small><small>SECONDS</small></div>

            </div>

        </div>
        <div class="left_part">
            <a class="product_img_link" href=""><img width="200" height="170"
                    src="../../../assets/images/Arasdm-APP-RC-Drones-1.jpg"
                    alt=""></a>
            <div class="product_offer_label">
                <span>15% <br><small>Offer</small></span>

            </div>
            <p>3D Glass</p>
            <div class="product_price">
                <del>$640.00</del>
                <span>$540.00</span>
            </div>
            <div class="progress_section">
                <div class="progress_label">
                    <small>Already Sold:27%</small>
                    <small>Available:11</small>
                </div>
                <div class="progress_bar">
                    <div style="width:0% ;" class="progress_content"></div>
                </div>
            </div>
            <div class="empty">
                
            </div>
            <div class="timer_part">
                <div class="timer_heading"><span>Hurry Up!</span> <small> Offers End in:</small></div>
                <div class="calender"> <span>204</span> <span>11</span><span>14</span><span>26</span></div>
                <div class="inword"> <small>DAYS</small> <small>HOURS</small><small>MINUTES</small><small>SECONDS</small></div>

            </div>

        </div>
    </div>
</div>